@model asp_net_mvc_classic.Models.Produk

<h2>Tambah Produk</h2>	
<form asp-action="Create" method="post">
	<input asp-for="NamaProduk" class="form-control" placeholder="Nama Produk" />
	<input asp-for="Harga" class="form-control mt-2" placeholder="Harga" />
	<input asp-for="Stok" class="form-control mt-2" placeholder="Stok" /> 
	<button class="btn btn-success mt-3">Simpan</button>
</form>